<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Конвертер текста в LaTeX</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Конвертер текста в LaTeX</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.text|as_widget(attrs={'class': 'form-control', 'rows': 10}) }}
            {{ form.non_field_errors }}
            <button type="submit" class="btn btn-primary mt-3">Преобразовать</button>
        </form>
    </div>
</body>
</html>